body {
    font-family: shanti;
    font-size: 1.10em;
    text-align: center;
    width: 100vw;
    height: 100vw;
    background-image: url("images/basseball8.jpg");
    background-position: auto;
    background-size: cover;
    background-color:#444444;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;

}

.container {
    display: flex;
    justify-content: center;
}
.card {
    background: #536878;
    width: 400px;
    margin: 20px 20px;
    border-radius: 10px:
    position: auto;
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.3), 2px 3px 4px 4px rgba(14,14,14,0.2);

}
.card-image {
    height: 290px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    justify-content: center;
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.3), 2px 3px 4px 4px rgba(14,14,14,0.2);

}
.player1{
    background-image: url('images/JS22 0.jpg');

}
.player2{
    background-image: url("images/VG27 0.png");
}

.card p {
    padding= 5px;
    font-size: 1.1em;
}

.card a {
    background: black;
    color: white;
    display: block;
    padding: 15px 20px;
    margin: 10px 10px;
    tex-align: 10px 10px;
}

.card:hover{
    background: #86888a;
    color: white;
    cursor: pointer;
    transform:scale(1.055);
    transition: all 1s ease;
    text-decoration: none;
 }
 #stats_btn2 {
    background-color: #062b4d;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #5b81a3;
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
#stats_btn2:hover {
    background-color: #1786ea;
    cursor: pointer;
}
#stats_btn1 {
    background-color: #e26767;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #5b81a3;
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
#stats_btn1:hover {
    background-color: #e2473c;
    cursor: pointer;
}

#Domis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
h2 {
font-size: 5em;
            font-family: serif;
            color: transparent;
            text-align: center;
            animation: effect 8s linear infinite;
}
@keyframes effect {
            0% {
                background: linear-gradient(
                        #FF0000, #FFFFFF);
                -webkit-background-clip: text;
            }

            100% {
                background: linear-gradient(
                        #3CE7D7, #000FFF);
                -webkit-background-clip: text;
            }